body {
  background-color: black;
}

input {
  min-width:80%;
}

.container {
  background-color: rgba(255,255,255,0.5);
  padding:5vh 0;
  border-radius: 2vh;
}
#movie {
  padding:5vh 20vh 0 20vh;
  display:none;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  background: -webkit-linear-gradient(90deg, #948E99 10%, #2E1437 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #948E99 10%, #2E1437 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #948E99 10%, #2E1437 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #948E99 10%, #2E1437 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #948E99 10%, #2E1437 90%); /* W3C */              
}

.inner {
    margin-left: auto;
    margin-right: auto;     
}
